@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:wght@400;700;800&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:wght@400;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif; */
* {
    margin: 0;
    /* padding: 0; */
    font-family: 'Mulish', sans-serif;
}

.container {
    /* border: 2px solid red; */
    height: auto;
    width: 80%;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 80px;
    overflow: hidden;

}

/* Nav style */
.header-nav {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.journey-junction {
    display: flex;


}

.journey-junction img {
    margin-right: 10px;
}

.journey-junction h3 {
    color: #131318;

    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.journey-junction .junction {
    color: #FF5400;
}

.header-nav ul {
    display: flex;


}

.header-nav ul li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.header-nav li {
    list-style: none;
    margin-right: 44px;
    color: var(--Dark-02, #424247);

    font-size: 18px;

    font-weight: 400;


}

.header-nav ul .home a {
    color: #FF5400;

    font-size: 18px;

    font-weight: 700;

}

.header-nav ul .contact {
    margin-right: 0;
}

/* header style */


.header-container {

    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    /* position: relative; */



}

.explore>h2 {
    color: #FFF;


    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    padding-top: 106px;
    text-align: center;
    padding-bottom: 24px;


}

.explore-des {
    color: #FFF;



    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 80%;
    margin: 0 auto;
    margin-bottom: 48px;

}

.explore-des p {
    text-align: center;
}

.header-form {
    /* border: 2px solid yellow; */
    width: 85%;
    margin: 0 auto;
    /* text-align: center; */
    margin-bottom: 100px;
    padding: 16px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.header-form>form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.header-form>form>.input {
    padding: 16px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0;


}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 16px;

}

/* Section One */
.our-popular-tour-container {
    display: flex;

    gap: 50px;
}

.heading {
    color: #131318;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.des {
    color: rgba(19, 19, 24, 0.70);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 24px;
}

.our-popular-tour ul {
    color: rgba(19, 19, 24, 0.70);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 24px;
}

.our-popular-tour ul li {

    padding-bottom: 10px;
}



.btn-read {
    width: 174px;
    height: 52px;
    margin-top: 10px;

}

/* section two */
.choose-destination .heading,
.des {
    text-align: center;
}

.description {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 24px;
}

.destination-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    
    gap: 20px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;

    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 16px;
}

.article-1 {
    background-image: url('./Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.article-2 {
    background-image: url('./Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FF5400;
    grid-column: 7/span 6;

}

.article-3 {
    
    background-image: url('./Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/span 4;

}

.article-4 {
    
    background-image: url('./Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 5/span 5;
}

.article-5 {
    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 10/span 3;
}

.article-6 {
    background-image: url('./Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/span 5;
}

.article-7 {
    background-image: url('./Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 6/span 7;
}

/* section three */
.container i{
    font-size: 30px;
}
.why-choose{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 24px;
    margin-bottom: 24px;
}

.why-choose-last, .why-choose-one{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 20px;


}
.why-choose-last{
    width: 50%;
    margin: 0 auto;
}
.hotel{
    color: #131318;

font-size: 24px;
font-style: normal;
font-weight: 800;
margin: 20px 0;
}
.hotel-des{
    color: #5A5A5D;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.why-choose-two{
    
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}

/* section five */
.a-simple {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 50px;
}

.five li {
    color: #131318;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
}

.five .watch-our-mountain {

    color: #FFF;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Images/Group\ 40089.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.five .watch-our-mountain p {
    width: 276px;
    text-align: center;
}
/* section six */
.container-news{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 50px;
}
.news{
    border-radius: 16px;
border: 1px solid #FF5400;
padding: 40px;
}
#enter-name{
    margin-top: 48px;
}
#enter-email{
    margin: 16px 0;
}
#enter-name, #enter-email{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
width: 90%;
height: 52px;
color: rgba(19, 19, 24, 0.30);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;


}
.subscribe{
    width: 90%;
    height: 52px;
}

.news-img img{
    margin: 0;
    padding: 0;
    height: 100%;
    
}
.save{
    width: 324px;
height: 120px;
transform: rotate(-25deg);

border-radius: 16px;
background: #FF5400;
position: absolute;
top: 4680px;
left: 780px;
}
.save .travel{
    color: #FFF;
text-align: center;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:  10px 0;
}
.save .save-up{
    color: #FFF;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
/* Footer */
.footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-junction {
    padding-top: 110px;
    padding-bottom: 15px;
    justify-content: center;
}

.footer-des {
    color: #5A5A5D;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 60%;
    margin: 0 auto;
    margin-bottom: 33px;
}

.icon {
    font-size: 30px;
    margin-bottom: 50px;

}

.icon i {
    margin-right: 20px;
}

.last {
    color: #131318;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 50px;
    padding-bottom: 110px;
}

.footer hr {
    width: 60%;
    margin: 0 auto;

}

/* section extra */
.container-extra{
    display: flex;
    height: auto;
    /* border: 2px solid red; */
}
.box{
    width: 50%;
    height: 50%;
     /* border: 2px solid blue; */
}
.saint{
    width: 100%;
    height: auto;
    border-radius: 16px;

    
}
.container-extra .saint-martin , .saint-martin-des{
    padding: 20px;
}
.container-extra .saint-martin{
    color: grey;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container-extra .saint-martin-des{
    text-align: justify;
    color: #5A5A5D;

font-size: 16px;
font-style: normal;
font-weight: 400;

}


/* Responsive for mobile */
@media screen and (max-width: 600px) {
    .container{
        width: 90%;
    }
    .header-nav {
        flex-direction: column;
    }

    .header-nav ul {
        display: flex;

        flex-wrap: wrap;
    }

    .header-nav ul li {

        margin-right: 10px;

    }

    .header-nav .journey-junction h3 {}

    .explore>h2 {

        text-align: center;

        font-size: 32px;
        padding-top: 53px;


    }

    .header-form>form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .our-popular-tour-container,
    .a-simple {
        display: flex;
        flex-direction: column;

    }

    .our-popular-tours-image img {
        width: 100%;
    }

    .watch-our-mountain {
        height: 400px;

    }

    /* section two */
    .description, .footer-des{
        width: 90%;
    }
    .destination-img{
        height: 1520px ;
        
    }
    .article{
        grid-column: 1/span 12;
        
        height: 200px;
        
    }
    .article-5{
        background-position: center;
    }
    /* section three */
    .why-choose{
        display: flex;
        flex-direction: column;
    }
    .why-choose-last{
        width: 90%;
    }
    /* section six */
    .container-news{
        display: flex;
        flex-direction: column;
    }
    .news-img img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 16px;
    }
    .save{
        left: 100px;
        top: 8370px;
        
    }
    /* extra section */
    .container-extra{
        flex-direction: column;
        /* height: 100%; */
        /* width: 100%; */
    }
    .box{
        width: 100%;
    }
    .container-2{
        flex-direction: column-reverse;
    }
    
}

/* responsive for laptop */

@media screen and (min-width: 992px) and (max-width: 1032px) {

    .container {}


    .header-form>form>.input {
        width: 150px;


    }

    .header-form {
        width: 90%;
    }

    .btn-primary {
        width: 150px;
    }

    /* section one */
    .our-popular-tour-container {}

    .our-popular-tours-image img {}

    .our-popular-tour {
        /* border: 2px solid green; */
    }

    .our-popular-tours-image {
        /* border: 2px solid green; */
    }
}